doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
    script(type='text/javascript', src='javascripts/Location.js')
  body
    block content